body {
    background-color:#E9EBEE;
  }

  .navbar-nav > .nav-item {
    margin-left: 15px;
  }

  section {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 800px;
    background-color: white;
    padding-top: 4%;
  }

  footer{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height:30px;
  }

  .btn-primary {
    border: 0px;
    color: white;
    background-color: var(--red);
  }

  .card {
    margin-bottom: 25px;
    box-shadow: 0 10px 40px rgba(59, 43, 91, 0.3);
  }

  #first{
    padding-top: 12%;
  }

  #second, #fourth{
    background-color:#E9EBEE;
}

  #third {
    background-image: url(/img/banner.jpg);
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 12%;
  }

  #fourth{
    padding-left: 5%;
    padding-right: 5%;
  }
  
  #fourth > .container > p:nth-last-of-type(1) {
    font-size: 25px;
    margin-bottom: 100px;
  }

 
  .typewrite {
    font-weight: bold;
    font-size: 37px;
  }

  .card-text{
    min-height:75px;
  }

  .card {
    margin-bottom: 25px;
    box-shadow: 0 10px 40px rgba(59, 43, 91, 0.3);
  }



  
  