body {
    background-color:  gainsboro;
  }

  .navbar-nav > .nav-item {
    margin-left: 15px;
  }

  section {
    display: flex;
    padding-top: 15%;
    align-items: center;
    flex-direction: column;
    min-height: 800px;
    background-color: white;
  }

  /* :root {
    --red: #cd4541;
  }
  
  .red {
    color: var(--red);
  } */

  .btn-primary {
    border: 0px;
    color: white;
    background-color: var(--red);
  }

  .card {
    margin-bottom: 25px;
    box-shadow: 0 10px 40px rgba(59, 43, 91, 0.3);
  }

  #third {
    background-image: url(/img/banner.jpg);
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .row{
   align-content: space-between;
  }

  footer{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  }

  #fourth > .container > p:nth-last-of-type(1) {
    font-size: 25px;
    margin-bottom: 100px;
  }

  .typewrite {
    font-weight: bold;
    font-size: 37px;
    /* color: red; */

  }
  #second, #fourth{
      background-color: gainsboro;
  }
  /* .card{
    max-height:700px;
  } */


  
  